{% extends 'WebProfilerBundle:Profiler:layout.html.twig' %}

{% block toolbar %}
    {% set icon %}
<span>
    <img width="13" height="28" alt="Dokudoki" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAmklEQVRYw+2XMRLFIAhEQ+Yfyc7ajgtxAi6EFbWddyIncJL5USjilsjMKuwrPI6vCwZ18/I7V77OzD4+ga1XFJRSppupqm8GVPW2Z+kFnkwxHMMtGOzOUkrTzZjZlwJmjqWAiG57fqOD3vsOaBwFRGQ55+lmiOhLASLGUiAi/1PQWtsBjZOI2Aq5hxAAYil48jEZUlBr3Vl00QWEqHu9uXEEMQAAAABJRU5ErkJggg==">
    <span>{{ collector.queriesCount }}</span>
</span>
    {% endset %}
    {% set text %}
<div class="sf-toolbar-info-piece">
    <b>Dokudoki</b>
    <span>{{ collector.queriesCount }} operations</span>
</div>
    {% endset %}
    {% include '@WebProfiler/Profiler/toolbar_item.html.twig' with { 'link': profiler_url } %}
{% endblock %}

{% block menu %}
<span class="label">
    <span class="icon"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAmklEQVRYw+2XMRLFIAhEQ+Yfyc7ajgtxAi6EFbWddyIncJL5USjilsjMKuwrPI6vCwZ18/I7V77OzD4+ga1XFJRSppupqm8GVPW2Z+kFnkwxHMMtGOzOUkrTzZjZlwJmjqWAiG57fqOD3vsOaBwFRGQ55+lmiOhLASLGUiAi/1PQWtsBjZOI2Aq5hxAAYil48jEZUlBr3Vl00QWEqHu9uXEEMQAAAABJRU5ErkJggg==" alt="synchro" /></span>
    <strong>Dokudoki</strong>
    <span class="count">
        <span>{{ collector.queriesCount }}</span>
    </span>
</span>
{% endblock %}

{% block panel %}

<h3>Operations</h3>

<table>
    <tbody>
        <tr>
            <th>#</th>
            <th>Action</th>
            <th>Parameters</th>
            <th>Timer</th>
        </tr>        
    {% for row in collector.queries %}
        <tr>
            <td>#{{ loop.index }}</td>
            <td>{{ row.access }}</td>
            <td>{{ row.detail|json_encode() }}</td>
            <td>{{ (row.time * 1000)|number_format() }} ms</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}
